.about {
    @media screen and (max-width: $tablet) {
        padding-bottom: 0;
    }

    @media screen and (min-width: $tablet) and (max-width: $desktop - 1px) {
        padding: 20px;
    }
}

.about__wrap {
    margin: 0 auto;
    background-image: url(/images/about/milk-m.png);
    background-position: center bottom 135px;
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
        max-width: $tablet - 1px;
        background-image: url(/images/about/milk-m@2x.png);
    }

    @media screen and (min-width: $tablet) {
        max-width: $tablet;
        background-image: none;
    }

    @media screen and (min-width: $desktop) {
        max-width: 1600px;
        background-image: url(/images/about/milk-d.png);
        background-position: center bottom -40px;

        @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: url(/images/about/milk-d@2x.png);
        }
    }
}

.about__title {
    margin-bottom: 32px;

    @media screen and (min-width: $tablet) {
        margin-bottom: 40px;
    }

    @media screen and (min-width: $desktop) {
        margin-bottom: 60px;
    }
}

.about__wrapper {
    @media screen and (min-width: $tablet) {
        display: flex;
    }
}

.about__img {
    max-width: 280px;
    margin: 0 auto;
    height: auto;

    @media screen and (min-width: $tablet) {
        max-width: 336px;
        flex-basis: 50%;
        margin: 0;
        margin-right: 16px;
    }

    @media screen and (max-width: $tablet - 1px) {
        margin-bottom: 40px;
    }

    @media screen and (min-width: $desktop) {
        max-width: 501px;
        margin: 0;
        margin-right: 70px;
    }
}

.about__content {
    @media screen and (max-width: $tablet - 1px) {
        max-width: 220px;
        margin: 0 auto;
    }

    @media screen and (min-width: $tablet) {
        flex-basis: 50%;
        max-width: 334px;
        margin-left: 16px;
    }

    @media screen and (min-width: $desktop) {
        max-width: 433px;
        margin-left: 70px;
        padding-top: 72px;
    }
}

.about__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 162%;
    color: $subtitleTextColor;

    &--dark {
        color: $secondTextColor;
    }

    & + & {
        margin-top: 40px;
        margin-bottom: 20px;

        @media screen and (min-width: $desktop) {
            margin-top: 32px;
            margin-bottom: 40px;
            font-size: 14px;
            line-height: 194%;
        }
    }

    @media screen and (min-width: $tablet) {
        font-size: 14px;
        line-height: 176%;
    }

    @media screen and (min-width: $desktop) {
        font-size: 16px;
        line-height: 176%;
    }
}

.about__span {
    display: block;
}

.about__button {
    padding: 12px 40px;

    @media screen and (max-width: $tablet - 1px) {
        font-size: 14px;
        line-height: 1.28;
    }
}

.button__icon {
    width: 4px;
    height: 8px;
    margin-left: 14px;
    fill: transparent;
}
