.advantage {
  @media screen and (min-width: $mobile) {
    margin: -15px;
    display: flex;
  }
}

.advantage__item {
  width: 230px;
  @media screen and (min-width: $tablet) {
    margin: 15px;
    width: 160px;
  }

  @media screen and (min-width: $desktop) {
    width: 288px;
  }
}

.advantage__item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 30px;
  }
}

.advantage__item::before {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  margin-bottom: 15px;
  background-repeat: no-repeat;
  background-size: contain;
}

.advantage__item:nth-child(1):before {
  background-image: url(../images/advantage/icon1.png);

  @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/advantage/icon1@2x.png);
  }
}

.advantage__item:nth-child(2):before {
  background-image: url(../images/advantage/icon2.png);

  @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/advantage/icon2@2x.png);
  }
}

.advantage__item:nth-child(3):before {
  background-image: url(../images/advantage/icon3.png);

  @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url(../images/advantage/icon3@2x.png);
  }
}

.advantage__number {
  display: block;
  margin-bottom: 15px;
  font-family: $titleFont;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: $mainTitleColor;
}

.advantage__text {
  font-family: $mainFont;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 1.7;

  color: $secondTextColor;
}
