body {
  color: $mainTextColor;
  background-color: $mainBackgroundColor;
  font-family: $mainFont;
}
// Зоголовки та абзаци
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

//  Cписки
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

//  Посилання
a {
  text-decoration: none;
  color: inherit;
}

//  Зображення
img {
  display: block;
  max-width: 100%;
  height: auto;
}
