.reviews { 
    @media screen and (max-width: ($mobile - 0.02px)) {
        padding-bottom: 48px;
    }
    
}

.reviews__container {
    @media screen and (min-width: $tablet) {
        padding: 0 74px;
    }

    @media screen and (min-width: $desktop) {
    padding: 0 123px;
    }
}

.reviews__photo {
    width: 85px;
    height: 85px;
    border-radius: 44px;

    background-image: url(../images/testimonials.jpg);
    background-size: contain;
    margin: 0 auto 32px;

    @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: url(../images/testimonials@2x.jpg);
    }


    @media (min-device-pixel-ratio: 3),
    (-webkit-min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
        background-image: url(../images/testimonials@3x.jpg);
    }

    @media screen and (min-width: $tablet) {
        margin-bottom: 20px;
    }

    @media screen and (min-width: $desktop) {
        margin-bottom: 16px;
    }
}


.reviews__field {
    margin-bottom: 16px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 17px;
background-color: #FAFAFA;

@media screen and (min-width: $mobile) {
padding-left: 65px;
padding-right: 65px;
}

@media screen and (min-width: $tablet) and (max-width: ($desktop - 0.02px)) {
    margin-bottom: 4px;
    }

    @media screen and (min-width: $tablet) {
        padding: 20px 6px 36px;
    }

    @media screen and (min-width: $desktop) {
        padding: 32px 107px 31px 105px;
    }
}

.reviews__quote {  
    @media screen and (max-width: ($mobile - 0.02px)) {
    padding-left: 15px;
    padding-right: 8px; 
    }          
  
    &::before {
        content: '';
        width: 54px;
        height: 40px;
        position: relative;
        display: block;
        top: 23px;
        left: 0px;
        margin: 0;
        
        background-image: url("../images/quote.svg");
    }

}

.reviews__text {
    position: relative;    
               
    color: $secondTextColor;
    font-family: $mainFont;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 2.55;

    text-align: center;

    background-image: repeating-linear-gradient(
        to top,
        #E1E1E1,
        #E1E1E1 1px,
        transparent 1px,
        transparent 31px
        );

    @media screen and (min-width: $tablet) { 
        padding: 0 30px;            
        font-size: 14px;
        line-height: 2.16;        
        letter-spacing: 0.04em;
    }

    @media screen and (min-width: $desktop) {
        font-size: 16px;
        line-height: 1.86;
    }

}

.reviews__reviewer {
    display: flex;
    flex-direction: column;    
    align-items: center;

    color: $secondTextColor;
    font-family: $mainFont;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.86;

    text-align: center;

    @media screen and (min-width: $tablet) {
        font-size: 16px;
    }

    @media screen and (min-width: $desktop) {
        font-size: 20px;
    }

    &::before {
        content: "";
        display: block;
        margin-bottom: 16px;
        width: 32px;
        height: 4px;

        background-image: url(../images/dots.svg);
    }

    &::after {
        content: "";
        display: block;
        margin-top: 16px;
        width: 72px;
        height: 12px;
        
        background-image: url(../images/large-dots.svg);

        @media screen and (min-width: $tablet) {
        margin-top: 32px;
        }
    }
}