.footer__container{
    @media screen and (min-width: $tablet){
        display: flex;
    justify-content: space-between;
    }
}
.footer{
    position: relative;
    padding-top: 5px;
    background-color: $secondBackgroundColor;
}
.title__container{
    max-width: 234px;
    margin-bottom: 40px;
    @media screen and (min-width: $tablet){
        max-width: 340px;
    }
    @media screen and (min-width: $desktop){
        max-width: 479px;
    }
}
.footer__title{
    text-align: left;
}
.footer__label{
    text-align: left;
}
.contact__container{

}
.socials{
    display: flex;
    justify-content: flex-end;
@media screen and (max-width:767px){
    margin-bottom: 40px;
}
@media screen and (min-width: $tablet){
    // position: absolute;
    // top: 6px;
    // right: 18px;
    margin-bottom: 40px;
}
}
.socials__list{
    @extend %list;
    display: flex;
}
.socials__item{
    margin-right: 28px;
    &:last-child{
        margin-right: 0;
    }
    @media screen and (min-width: $tablet){
        margin-right: 30px;
        &:last-child{
            margin-right: 0;
        }
    }
    @media screen and (min-width: $desktop){
        margin-right: 24px;
        &:last-child{
            margin-right: 0;
        }
    }
}
.socials__icon{
    fill: #FEA5BB;
    transition: fill $transition;

    &:hover, &:focus{
        fill: $mainTitleColor;
    }
}
.contact{
    @media screen and (max-width: 767px){
        margin-bottom: 40px;
    }
    @media screen and (min-width: $tablet){
        // position: absolute;
        // top: 85px;
        // right: 18px;
    }
    
}
.contact__text{
    font-weight: 700;
    font-size: 12px;
    line-height: 1.86;
    text-align: right;
    color: $secondTextColor;
    @media screen and (min-width: $tablet){
        font-size: 14px;
    }
    @media screen and (min-width: $desktop){
        font-size: 16px;
    }
}
.contact__link{
  color: $mainTitleColor;
}
.copyrights{
    display: flex;
    justify-content: center;
    border-top: 1px solid #E1E1E1;
    max-width: 100%;
   @media screen and (max-width: 767px){
    padding-top: 16px;
    padding-bottom: 20px;
   }
   @media screen and (min-width: $tablet){
       padding: 8px 0;
   }
}
.copyrights__container{ 
    text-align: center;
    @media screen and (max-width: 767px){
        max-width: 149px;
    }
}
.copyrights__text{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;
    text-align: center;
    color: $subtitleTextColor;
    @media screen and (min-width: $tablet){
        line-height: 1.86;
    }
}