.scroll-top {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  display: flex;
  justify-self: center;
  align-items: center;
  padding: 10px;
  border: none;
  background-color: $secondTitleColor;
  color: $mainTextColor;
  cursor: pointer;

  opacity: 0;
  overflow: hidden;

  transition: opacity $transition,
  overflow $transition;

  &.visible {
    opacity: 1;
    overflow: visible;
  }
}

.scroll-top:hover {
  // background-color: $accentButtonColor-dark;
  color: $accentButtonText;
}

.scroll-top__icon{
  fill: currentColor;
  width: 20px;
  height: 20px;
  transform: rotate(-90deg);
}