.hero{
    max-width: 1600px;
    position: relative;
    height: 502px;
    background-color: rgba(255, 184, 202, 1);

       
@media screen and (min-width: 768px) {
   height: 416px;
}

}
.hero-image__cream{
    position: absolute;
    left: 117px;
        top: 92px;

    @media screen and (min-width: 768px) {
        left: 322px;
            top: 80px;
            width: 143px;
                height: 336px;
    }
           
}
.elipse{
    width: 346px;
        height: 344px;
    border-radius: 50%;
    background-color: #FFA5BA;;
    position: absolute;
        
        left: 36px;
        top: 83px;

        @media screen and (min-width: 768px) {
            width: 335px;
                height: 333px;
                left: 248px;
                top: 43px;
            }
}

.hero-image__milk{
@media screen and (max-width:767px) {
    display: none;
}

    position: absolute;
    left: 32px;
        top: 246px;
}

.hero-image__tasty{
    @media screen and (max-width:767px) {
            display: none;
        }

           position: absolute;
          
                   left: 546px;
                   top: 265px;
}

.hero-container{
    position: relative;
}



.hero-title{
    display: flex;
    flex-direction: column;
font-family: titan one , sans-serif;
font-weight: 400;
font-size: 26px;
line-height: 1.2;
letter-spacing: 0.04em;
text-transform: uppercase;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #FFF;
    margin-bottom: 20px;

    @media screen and (min-width:768px) {
            font-size: 22px;
        }
}




.hero-subtitle{
    font-size: 48px;
    line-height: 46px;
    color: #D41443;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    @media screen and (min-width:768px) {
            font-size: 34px;
        }
}
.position{
    z-index: 2;
    position: absolute;
    left: 20px;
        top: 194px;

        @media screen and (min-width:768px) {
                left: 32px;
                    top: 102px;
            }
}

.button-hero {


    font-family: $mainFont;
    font-weight: 400;
    font-size: 8px;
    line-height: 10px;
    padding: 11px 23px;
   
    border-radius: 20px;
    border: transparent;
text-align: center;
    transition: color $transition, background-color $transition;

    &:not(:last-child){
        margin-right: 8px;
    }
}

.button--light {
    color: $mainTitleColor;
    background-color: $mainBackgroundColor;

    &:hover,
    &:focus {
        background-color: $accentButtonColor;
        color: $accentButtonText;
    }
}

.button--dark {
    color: $mainTextColor;
    background-color: $mainTitleColor;

    &:hover,
    &:focus {
        background-color: $accentButtonColor-dark;
        color: $accentButtonText-dark;
    }
}
.block{
@media screen and (max-width:767px) {
    display: none;
}

    position: absolute;
    left: 693px;
        top: 92px;
}

.block__title::after {
    content: "";
    z-index: -1;
    background-color: #FFFFFF;;
    width: 16px;
    height: 16px;
    border-radius: 50%;
   position: absolute;
   left: 30px;
transform: matrix(-1, 0, 0, 1, 0, 0);
}

.block__title{
    font-family: 'Titan One';
        font-style: normal;
        font-weight: 400;
        font-size: 28px;
        line-height: 32px;
      
        letter-spacing: 0.04em;
        text-transform: uppercase;
    
        color: #D41443;
}
.block__text{
    font-family: 'DM Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 8px;
        line-height: 10px;
        
    
        color: #FFFFFF;
}


.box{
    @media screen and (max-width:767px) {
        display: none;
    }
    position: absolute;
    left: 184px;
        top: 287px;
}

.box__text{
font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 1.5;
    
    color: #FFFFFF;
    width: 114px;
        height: 48px;
        margin-bottom: 7px;
}

.box__button{
    display: flex;
    align-items: center;
    border-radius: 50%;
    border: transparent;
    width: 18px;
    height: 18px;
}
.box__svg{
    fill:#D41443;
}