.section__products{
padding-top: 80px;
}
.section-wrapper{
margin-bottom: 8px;
}

.ice{
    display: block;
    padding-top: 140px;
}


.ice__item{
    margin-bottom: 140px;
    position: relative;

    padding-top: 140px;
    padding-bottom: 60px;
    // margin-bottom: 140px;

    margin-left: auto;
    margin-right: auto;

    width: 280px;
    background-color: #FFB8CA;
    border-radius: 24px;
    // margin-right: 32px;

    &:last-child{
        margin-bottom: 0px;
    }
    &--coffee{
        background-color:#F0D1A5 ;
        
    }
    &--milkshakes{
        background-color: #C2E297;
    }
    &::before{
        content:"";
        position: absolute;
        
        left: 0px;
        top: -30%;
        width: 280px;
        height: 280px;

        display: block;
        margin-left: auto;
        margin-right: auto;
        background-repeat: no-repeat;
        background-size: contain;

        
        background-image:url("../images/products/home-pic1.png");

        
    }
}

.ice__name {
    margin-top: 20px;
    margin-bottom: 32px;

    font-family: $titleFont;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    &::after{
        content:"";
        display: block;
        width: 26px;
        height: 6px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 32px;
        background-repeat: no-repeat;
        background-size: contain;

        background-image: url("../images/pointproducts.png");
        
        @media screen and (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
            background-image: url(../images/pointproducts@2x.png);
          }
     
    }
}
.ice__name--cream{
    
    // &::before{
    //     content:"";
    //     position: absolute;
        
    //     left: 0px;
    //     top: -25%;
    //     width: 280px;
    //     height: 280px;

    //     display: block;
    //     margin-left: auto;
    //     margin-right: auto;
    //     background-repeat: no-repeat;
    //     background-size: contain;

        
    //     background-image:url("../images/products/home-pic1.png");

        
    // }

}
.ice__name--coffee{
    
    &::before{
        content:"";
        position: absolute;
        
        left: 0px;
        top: -25%;
        width: 280px;
        height: 280px;

        display: block;
        width:280px;
        height: 280px;
        margin-left: auto;
        margin-right: auto;
        background-repeat: no-repeat;
        background-size: contain;

        
        background-image:url("../images/products/home-pic1.png");

        
    }
}
.ice__name--milkshakes{
    &::before{
       content:"";
        position: absolute;
        
        left: 0px;
        top: -25%;
        width: 280px;
        height: 280px;
        display: block;
        width:280px;
        height: 280px;
        margin-left: auto;
        margin-right: auto;
        background-repeat: no-repeat;
        background-size: contain;
    
        
        background-image:url("../images/products/home-pic1.png");
    
        
    }
}



.ice_text{
    // margin-bottom: 60px;
    // padding-left: 75px;
    // padding-right: 75px;
    // font-weight: 700;
    // font-size: 16px;
    // line-height: 176%;
    // text-align: center;
    // letter-spacing: 0.04em;
    padding-left: 39px;
    padding-right: 41px;
    font-weight: 700;
    font-size: 14px;
    line-height: 152%;
    text-align: center;
    letter-spacing: 0.04em;

    margin-bottom: 32px;

    // @media screen and (min-width: $tablet) {
    //     margin: -10px;
    //     display: flex;
    //   }
}
.ice-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;  

}
.ice-wrapper__button{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    width: 40px;
    height: 40px;
    border: transparent;
    border-radius: 50%;
    
}
.ice-wrapper__icon{
    display: flex;
    justify-content: center;
    align-items: center;

    fill: red;
    width: 13px;
    height: 13px;
}