/* видалити */
.test {
  padding-top: 100px;
}
/* загальне розташування кнопки */
.product-additional__button {
  display: block;
  width: 100%;
  text-align: center;
}

/* Стилi для модального вікна */

.product-modal {
  /*  Ширина вікна   */
  max-width: 500px;

  /*  Позиціонування вікна  */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /*  Додаткові стилі для вікна   */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  background-color: $secondBackgroundColor;
  transition: transform $transition;
}

/* Стиль для кнопки  */

.product-additional__button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  padding: 0;
  width: 40px;
  height: 40px;
  display: inline-block;
  text-decoration: none;
  border: #fff;
  color: #fff;
  border-radius: 50%;
}
/* додаткові кольори фону для вікон*/
.product-modal--color-coffee {
  background-color: $contactsPrimaryAccent;
}

.product-modal--color-milkshake {
  background-color: $contactsSecondaryAccent;
}
/* Стилі для тексту і заголовків вікна */
.product-additional__text {
  display: block;
  color: $secondTitleColor;
  margin-bottom: 30px;
  font-size: 14px;

  @media screen and (min-width: $mobile) {
    font-size: 16px;
  }
}
product-additional__text {
  display: block;
  color: $mainBackgroundColor;
  margin-bottom: 30px;
  font-size: 14px;

  @media screen and (min-width: $mobile) {
    font-size: 16px;
  }
}

.product-additional__title {
  font-family: $titleFont;
  text-transform: uppercase;
  font-size: 16px;
  color: $mainTitleColor;
  margin-bottom: 30px;
  padding-top: 10px;

  @media screen and (min-width: $mobile) {
    font-size: 20px;
    padding-top: 0;
  }
}

.product-additional__image {
  display: block;
  width: 100%;
  margin: 0 auto;
  display: block;
  max-width: 400px;

  @media screen and (min-width: $mobile) {
    display: flex;
    justify-content: space-around;
  }
}

.product-additional__icecoffee-first,
.product-additional__icecoffee-second,
.product-additional__icecream-first,
.product-additional__icecream-second,
.product-additional__milkshake-first,
.product-additional__milkshake-second {
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  display: block;
  width: 80px;
  height: 80px;
  transition: $transition;
  transform-origin: center;
  &:hover,
  &:focus {
    transform: rotate(-360deg) scale(1.5);
  }
}
.product-additional__icecoffee-first,
.product-additional__icecream-first,
.product-additional__milkshake-first {
  @media screen and (max-width: ($mobile - 1px)) {
    margin-bottom: 20px;
  }
}
