/* видалити */
.test {
  padding-top: 100px;
}
/* загальне розташування кнопки */
.product-additional__button {
  display: block;
  width: 100%;
  text-align: center;
}
.overlay {
  /* Приховування оверлея*/
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 20;
  transition: 0.3s all;
}

/* Стили для модального вікна */

.modal {
  /* Приховується вікно  */
  opacity: 0;
  visibility: hidden;

  /*  Ширина вікна   */
  max-width: 500px;

  /*  Позиціонування вікна  */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;

  /*  Додаткові стилі для вікна   */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  background-color: $secondBackgroundColor;
  transition: transform $transition;
}

/* Стилi для активних класів оверлей та вікна  */

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Кнопка закриття */

// .modal__cross {
//   width: 15px;
//   height: 15px;
//   position: absolute;
//   top: 20px;
//   right: 20px;
//   fill: #444;
//   cursor: pointer;
// }

/* Стиль для кнопки  */
.product-additional__button {
  width: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

a.product-additional__button {
  width: 40px;
  height: 40px;
  display: inline-block;
  text-decoration: none;

  color: #fff;
  border-radius: 50%;
}
/* Стилі для тексту і заголовків вікна */
.product-additional__text {
  display: block;
  font-size: 16px;
  color: $secondTitleColor;
  margin-bottom: 30px;
}

.product-additional__title {
  font-family: $titleFont;
  text-transform: uppercase;
  font-size: 20px;
  color: $mainTitleColor;
  margin-bottom: 30px;
}
.product-additional__image {
  width: 100%;
  margin: 0 auto;
  display: flex;
  max-width: 400px;
  justify-content: space-around;
}

.product-additional__icecoffee-first,
.product-additional__icecoffee-second,
.product-additional__icecream-first,
.product-additional__icecream-second,
.product-additional__milkshake-first,
.product-additional__milkshake-second {
  border-radius: 10px;
  overflow: hidden;
  display: block;
  width: 80px;
  height: 80px;
  transition: $transition;
  transform-origin: center;
  &:hover,
  &:focus {
    transform: rotate(-360deg) scale(1.5);
  }
}
// /*  блок Андрія*/
// .products {
//   margin-top: 400px;
//   display: flex;
// }
// .products-icecream {
//   text-align: center;
//   width: 395px;
//   height: 535px;
//   background-color: $heroBackgroundColor;
//   border-radius: 24px;
//   position: absolute;
//   &::before {
//     content: url(../images/products-additional/products-image__icecoffee.png);
//     position: relative;
//     width: 395px;
//     height: 395px;
//     background-size: 395px 395px;
//     top: -50%;
//     left: 0;
//   }
// }
// .products-icecoffee {
//   text-align: center;
//   width: 395px;
//   height: 535px;
//   background-color: $heroBackgroundColor;
//   border-radius: 24px;
//   position: absolute;
//   &::before {
//     content: url(../images/products-additional/products-image__icecoffee.png);
//     position: relative;
//     width: 395px;
//     height: 395px;
//     background-size: 395px 395px;
//     top: -50%;
//     left: 0;
//   }
// }
// .products-point {
//   text-align: center;
//   display: inline-block;
//   width: 6px;
//   height: 6px;
//   background-color: #fff;
//   border-radius: 50%;
//   margin-left: 4px;
// }
// .products-point-list {
//   display: flex;
//   justify-content: center;
//   margin-top: 32px;
// }
// .products-title {
//   font-family: $titleFont;
//   text-transform: uppercase;
//   margin-top: -250px;
// }
// .products-text {
//   padding: 0 75px;
//   font-size: 16px;
//   line-height: 1.76;
//   letter-spacing: 0.04em;
//   margin-top: 32px;
// }
