/* Стили для подложки */

.overlay {
  /* Скрываем подложку  */
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 20;
  transition: 0.3s all;
}

/* Стили для модальных окон */

.modal {
  /* Скрываем окна  */
  opacity: 0;
  visibility: hidden;

  /*  Установаем ширину окна  */
  width: 100%;
  max-width: 500px;

  /*  Центрируем и задаем z-index */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30; /* Должен быть выше чем у подложки*/

  /*  Побочные стили   */
  box-shadow: 0 3px 10px -0.5px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 30px;
  border-radius: 10px;
  background-color: $heroBackgroundColor;
  transition: 0.3s all;
}

/* Стили для активных классов подложки и окна */

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}

/* Стили для кнопки закрытия */

.modal__cross {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: #444;
  cursor: pointer;
}

/* Стили для кнопок. Мы ведь порядочные разработчики, негоже простые ссылки оставлять */

a {
  width: 40px;
  height: 40px;
  display: inline-block;
  text-decoration: none;

  // background-color: $secondBackgroundColor;

  color: #fff;
  border-radius: 50%;
}
.product-additional__text {
  font-size: 16px;
  color: $secondBackgroundColor;
}
.product-additional__title {
  font-family: $titleFont;
  text-transform: uppercase;
  font-size: 20px;
  color: $mainTitleColor;
  padding-bottom: 30px;
}
