$mainTextColor: #ffffff;
$secondTextColor: #000000;
$mainBackgroundColor: #ffffff;
$heroBackgroundColor: #ffb8ca;
$secondBackgroundColor: #fff5f6;
$mainTitleColor: #d41443;
$secondTitleColor: #ffa5ba;
$subtitleTextColor: #907e82;
$accentButtonColor: #ecebeb;
$accentButtonText: #d41443;
$accentButtonColor-dark: #c7133e;
$accentButtonText-dark: #ffffff;
$mainFont: 'DM Sans', sans-serif;
$titleFont: 'Titan One', cursive;
$menuBackground: #E17992;

// Час та функція трансформації
$transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
