$mainTextColor:#FFFFFF;
$secondTextColor: #000000;
$mainBackgroundColor:#FFFFFF;
$heroBackgroundColor:#FFB8CA;
$secondBackgroundColor:#FFF5F6;
$mainTitleColor:#D41443;
$secondTitleColor:#FFA5BA;
$subtitleTextColor:#907E82;
$accentButtonColor:#ECEBEB;
$mainFont:'DM Sans', sans-serif;
$titleFont:'Titan One', cursive;