<section class="section section--secondBgc about">
  <div class="about__wrap">
    <div class="container">
      <span class="section__label">tradition and love</span>
      <h2 class="section__title about__title">how it’s made?</h2>
      <div class="about__wrapper">
        <div class="about__img">
          <picture>
            <source
              media="(min-width: 1280px)"
              srcset="/images/about/cow-d.png 1x, /images/about/cow-d@2x.png 2x"
            />
            <source
              media="(min-width: 768px)"
              srcset="/images/about/cow-t.png 1x, /images/about/cow-t@2x.png 2x"
            />
            <source
              media="(min-width: 320px)"
              srcset="/images/about/cow-m.png 1x, /images/about/cow-m@2x.png 2x"
            />
            <img src="/images/about/cow-m.png" alt="cow" />
          </picture>
        </div>
        <div class="about__content">
          <p class="about__text about__text--dark">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
            lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
          </p>
          <p class="about__text">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
            orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat
            urna maximus. Cras massa nibh, tincidunt.
            <span class="about__span">&nbsp;</span> Aliquam erat volutpat. Aenean accumsan.
          </p>
          <button class="button button--light about__button" type="button">
            <span>Read more</span>
            <svg class="button__icon">
              <use href="/images/icons.svg#arrow-gate"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
