<section class="section section__advantage section--no-padding-top section--secondBgc">
  <div class="container">
    <h2 class="section_title visually-hidden">Advantages</h2>
    <ul class="advantage">
      <li class="advantage__item">
        <span class="advantage__number">721</span>
        <p class="advantage__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantage__item">
        <span class="advantage__number">16KG</span>
        <p class="advantage__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="advantage__item">
        <span class="advantage__number">84</span>
        <p class="advantage__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </div>
</section>
