<section class="reviews section">
    <div class="container reviews__container">
        <h2 class="reviews__title visually-hidden">Customer-reviews</h2>
        <div class="reviews__photo"></div>
        <div class="reviews__field">
            <div class="reviews__quote">
                <p class="reviews__text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem.
                    In
                    hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus.</p>
            </div>
        </div>
        <p class="reviews__reviewer">Emily, Los Angeles</p>
    </div>
</section>