<section class="section gallery">
<div class="container">
  <h2 class="section__title gallery__title">Gallery</h2>
    <picture >
        <source media="(min-width: 1280px)" 
         srcset="./images/gallery_img1200.jpg 1x, ./images/gallery_img1200@2x.jpg 2x"      
        type="image/jpeg"/>
        <source media="(min-width: 768px)" 
         srcset="./images/gallery_img768.jpg 1x, ./images/gallery_img768@2x.jpg 2x" 
        type="image/jpeg"/> 
        <source  media="(max-width: 767px)"
        srcset="./images/gallery_img480.jpg 1x, ./images/gallery_img480@2x.jpg 2x" 
        type="image/jpeg"/>     
      <img class="gallery__img" src="./images/gallery_img480.jpg" alt="ice-cream"/>
        </picture>  
</div>
</section>



