<section class="section section--no-padding-top">
  <div class="container gallery-masonry">
    <h1 class="section__title visually-hidden">Gallery</h1>
   
    <ul class="grid__list fade">
<li class="child__grid box1 " >
    <div class="gallery__item">
        <picture >
          <source srcset="./images/amy-shamblen1280.jpg 1x, ./images/amy-shamblen1280@2x.jpg 2x" 
          media="(min-width: 1280px)" 
          type="image/jpeg"/>
          <source srcset="./images/amy-shamblen768.jpg 1x, ./images/amy-shamblen768@2x.jpg 2x" 
          media="(min-width: 768px)"
          type="image/jpeg"/>   
            <source
            media="(max-width: 766px)"
            srcset="./images/amy-shamblen480.jpg 1x, ./images/amy-shamblen480@2x.jpg 2x" 
            type="image/jpeg"/>     
          
           
          <img class="gallery__image" src="./images/amy-shamblen480.jpg" alt="Технокряк">
            </picture>
   </div>
</li>

<li class="child__grid box2 ">
    <div class="gallery__item">
        <picture >
          <source srcset="./images/josh-pereira1280.jpg 1x, ./images/josh-pereira1280@2x.jpg 2x" 
          media="(min-width: 1280px)" 
          type="image/jpeg"/>
          <source srcset="./images/josh-pereira768.jpg 1x, ./images/josh-pereira768@2x.jpg 2x" 
          media="(min-width: 768px)"
          type="image/jpeg"/>  
            <source media="(max-width: 767px)"
            srcset="./images/josh-pereira480.jpg 1x, ./images/josh-pereira480@2x.jpg 2x" 
            type="image/jpeg"/>     
         
          
          <img class="gallery__image" src="./images/josh-pereira480.jpg" alt="Технокряк">
            </picture>
       </div>
    <div class="gallery__item">
        <picture >
          <source srcset="./images/brendan-church1280.jpg 1x, ./images/brendan-church1280@2x.jpg 2x" 
          media="(min-width: 1280px)" 
          type="image/jpeg"/>
          <source srcset="./images/brendan-church768.jpg 1x, ./images/brendan-church768@2x.jpg 2x" 
          media="(min-width: 768px)"
          type="image/jpeg"/>  
            <source
            media="(max-width: 766px)"
            srcset="./images/brendan-church-kEvxifSVoV8-unsplash.jpg 1x, ./images/brendan-church480@2x.jpg 2x" 
            type="image/jpeg"/>     
           
           
          <img class="gallery__image" src="./images/brendan-church-kEvxifSVoV8-unsplash.jpg" alt="Технокряк">
            </picture>
    </div></li>

<li class="child__grid box3 ">
    <div class="gallery__item"> 
        <picture >
          <source srcset="./images/courtney-cook1280.jpg 1x, ./images/courtney-cook1280@2x.jpg 2x" 
          media="(min-width: 1280px)" 
          type="image/jpeg"/>
          <source srcset="./images/courtney-cook768.jpg 1x, ./images/courtney-cook768@2x.jpg 2x" 
          media="(min-width: 768px)"
          type="image/jpeg"/>   
        <source
        media="(max-width: 766px)"
        srcset="./images/courtney-cook-xtVjWVCiE-U-unsplash.jpg 1x, ./images/courtney-cook480@2x.jpg 2x" 
        type="image/jpeg"/>     
       
     
      <img class="gallery__image" src="./images/courtney-cook-xtVjWVCiE-U-unsplash.jpg" alt="Технокряк">
        </picture> 
    </div>
    <div class="gallery__item">
        <picture >
          <source srcset="./images/ian-dooley1280.jpg 1x, ./images/ian-dooley1280@2x.jpg 2x" 
          media="(min-width: 1280px)" 
          type="image/jpeg"/>
          <source srcset="./images/ian-dooley768.jpg 1x, ./images/ian-dooley768@2x.jpg 2x" 
          media="(min-width: 768px)" 
          type="image/jpeg"/>  
            <source
            media="(max-width: 766px)"
            srcset="./images/ian-dooley480.jpg 1x, ./images/ian-dooley480@2x.jpg 2x" 
            type="image/jpeg"/>     
            
           
          <img class="gallery__image small-image" src="./images/ian-dooley480.jpg" alt="Технокряк">
            </picture> 
       
    </div>
  </li>

<li class="child__grid box4 ">
    <div class="gallery__item">
        <picture >
          <source srcset="./images/istvan-varro1280.jpg 1x, ./images/istvan-varro1280@2x.jpg 2x" 
          media="(min-width: 1280px)" 
          type="image/jpeg"/>
          <source srcset="./images/istvan-varro768.jpg 1x, ./images/istvan-varro768@2x.jpg 2x" 
          media="(min-width: 768px)"
          type="image/jpeg"/>  
            <source
            media="(max-width: 766px)"
            srcset="./images/istvan-varro-S142SDszcR0-unsplash.jpg 1x, ./images/istvan-varro480@2x.jpg 2x" 
            type="image/jpeg"/>     
           
          
          <img class="gallery__image" src="./images/istvan-varro-S142SDszcR0-unsplash.jpg" alt="Технокряк">
            </picture> 
        </div>
    <div class="gallery__item">
        <picture >
          <source srcset="./images/ross-sokolovski1280.jpg 1x, ./images/ross-sokolovski1280@2x.jpg 2x" 
          media="(min-width: 1280px)" 
          type="image/jpeg"/>
          <source srcset="./images/ross-sokolovski768.jpg 1x, ./images/ross-sokolovski768@2x.jpg 2x" 
          media="(min-width: 768px)"
          type="image/jpeg"/> 
            <source
            media="(max-width: 766px)"
            srcset="./images/ross-sokolovski480.jpg 1x, ./images/ross-sokolovski480@2x.jpg 2x" 
            type="image/jpeg"/>     
             
          
          <img class="gallery__image" src="./images/ross-sokolovski480.jpg" alt="Технокряк">
            </picture> 
       
    </div>
  </li>

<li class="child__grid box5">
    <div class="gallery__item">
        <picture >
          <source srcset="./images/brooke-lark1280.jpg 1x, ./images/brooke-lark1280@2x.jpg 2x" 
          media="(min-width: 1280px)" 
          type="image/jpeg"/>
          <source srcset="./images/brooke-lark768.jpg 1x, ./images/brooke-lark768@2x.jpg 2x" 
          media="(min-width: 768px)"
          type="image/jpeg"/> 
            <source
            media="(max-width: 766px)"
            srcset="./images/brooke-lark480.jpg 1x, ./images/brooke-lark480@2x.jpg 2x" 
            type="image/jpeg"/>     
           
           
          <img class="gallery__image" src="./images/brooke-lark480.jpg" alt="Технокряк">
            </picture> 
       </div>
    <div class="gallery__item">
        <picture >
          <source srcset="./images/leonardo-sanches1280.jpg 1x, ./images/leonardo-sanches1280@2x.jpg 2x" 
          media="(min-width: 1280px)" 
          type="image/jpeg"/>
          <source srcset="./images/leonardo-sanches768.jpg 1x, ./images/leonardo-sanches768@2x.jpg 2x" 
          media="(min-width: 768px)"
          type="image/jpeg"/>   
            <source
            media="(max-width: 766px)"
            srcset="./images/leonardo-sanches480.jpg 1x, ./images/leonardo-sanches480@2x.jpg 2x" 
            type="image/jpeg"/>     
           
           
          <img class="gallery__image" src="./images/leonardo-sanches480.jpg" alt="Технокряк">
            </picture> 
       
    </div>
  </li>

<li class="child__grid box6 ">
    <div class="gallery__item">
        <picture >
          <source srcset="./images/michael-dagonakis1280.jpg 1x, ./images/michael-dagonakis1280@2x.jpg 2x" 
            media="(min-width: 1280px)" 
            type="image/jpeg"/>
            <source srcset="./images/michael-dagonakis768.jpg 1x, ./images/michael-dagonakis768@2x.jpg 2x" 
            media="(min-width: 768px)" 
            type="image/jpeg"/>  
            <source
            media="(max-width: 766px)"
            srcset="./images/michael-dagonakis480.jpg 1x, ./images/michael-dagonakis480@2x.jpg 2x" 
            type="image/jpeg"/>     
             
            
          <img class="gallery__image" src="./images/michael-dagonakis480.jpg" alt="Технокряк">
            </picture> 
    </div>
</li>


    </ul>
</div>
</section>