<header class="header open" data-header>
  <div class="container header__container">
    <a href="./index.html" class="logo header__logo">
      <img src="images/logo.png" alt="">
    </a>
    <div class="header__menu">
      <button class="burger" type="button" aria-expanded="false" aria-controls="menu" data-menu-button>
        <svg class="burger__icon burger__icon--open" width="20" height="12">
          <use href="images/icons.svg#burger-menu"></use>
        </svg>
        <svg class="burger__icon burger__icon--close" width="20" height="12">
          <use href="./images/icons.svg#close-menu"></use>
        </svg>
      </button>

      <nav class="nav menu" id="menu" data-menu>
        <ul class="nav__list ">
          <li class="nav__item nav__item--modal-btn">
            <button class="nav__modal-btn button button--light" type="button" data-menu-modal-open>
              Buy now
              <svg class="modal-btn__icon" width="4" height="8">
                <use href="./images/icons.svg#arrow-gate"></use>
              </svg>
            </button>
          </li>
          <li class="nav__item">
            <a href="" class="nav__link  nav__link--current">
              Home
            </a>
          </li>
          <li class="nav__item">
            <a href="" class="nav__link  ">
              About us
            </a>
          </li>
          <li class="nav__item">
            <a href="" class="nav__link  ">
              How it’s made?
            </a>
          </li>
          <li class="nav__item">
            <a href="" class="nav__link  ">
              Our products
            </a>
          </li>
          <li class="nav__item nav__item--contact">
            <a href="" class="nav__link  ">
              Contact
            </a>
          </li>
        </ul>
      </nav>

      <button class="modal-btn button button--light" type="button" data-header-modal-open>
        Buy now
        <svg class="modal-btn__icon" width="4" height="8">
          <use href="./images/icons.svg#arrow-gate"></use>
        </svg>
      </button>
    </div>
  </div>
</header>