<section class="hero" id="home">
    <div class="container hero__container">
        <div>
            <div class="elipse"></div>
            <picture>
                <source srcset="/images/hero/icecream_l.png 1x , /images/hero/icecream_l@2x.png 2x"
                    media="(min-width:1280px)">

                <source srcset="/images/hero/icecream_m.png 1x , /images/hero/icecream_m@2x.png 2x"
                    media="(min-width:768px)">

                <source srcset="/images/hero/icecream_s.png 1x, /images/hero/icecream_s@2x.png 2x"
                    media="(max-width: 768px)">
                <img class="hero-image__cream" src="/images/hero/icecream_s.png" alt="">
            </picture>

            <picture>
                <source srcset="/images/hero/milk_l.png 1x, /images/hero/milk_l@2x.png 2x" media="(min-width:1280px)">

                <source srcset="/images/hero/milk_m.png 1x, /images/hero/milk_m@2x.png 2x" media="(min-width:768px)">

                <img class="hero-image__milk" src="/images/hero/milk_m.png" alt="">
            </picture>

            <picture>
                <source srcset="/images/hero/girl_l.png 1x, /images/hero/girl_l@2x.png 2x" media="(min-width:1280px)">

                <source srcset="/images/hero/girl_m.png 1x, /images/hero/girl_m@2x.png 2x" media="(min-width:768px)">
                <img class="hero-image__tasty" src="/images/hero/girl_m.png" alt="">
            </picture>

        </div>

        <div class="position">
            <h1 class="hero__title">ice cream <br>
                made with <span class="hero__subtitle">passion</span>
            </h1>
            <ul class="hero__list">
                <li class="hero__item scroll__to">
                    <a href="#products" class="hero__button button--dark scroll__to">Products</a>
                </li>
                <li class="hero__item scroll__to">
                    <a href="#howmade" class="hero__button button--light scroll__to"> How it’s made? </a>
                </li>
            </ul>


        </div>

        <div class="block">

            <ul class="hero__numbers">
                <li class="hero__numbers-item">
                    <span class="hero__number">16</span>
                    <span class="hero__number-text">cafes</span>
                </li>
                <li class="hero__numbers-item">
                    <span class="hero__number">23</span>
                    <span class="hero__number-text">food
                        trucks</span>
                </li>
            </ul>
        </div>

        <div class="box">
            <p class="box__text">Lorem ipsum dolor sit amet,<br> consectetur adipiscing elit,<br> sed do eiusmod tempor
                <br>
                incididunt ut labore et
            </p>
            <button type="button" class="box__button">
                <svg class="box__svg" width="8px" height="8px">
                    <use href="/images/icons.svg#arrow"></use>
                </svg>
            </button>
        </div>

    </div>
</section>