
<section class="hero">
    <div class="container hero-container">
  <div>
      <div class="elipse"></div>
      <picture>
          <source 
          srcset="/images/hero/icecream_s.png"
          media="(min-width:768px)">
<img class="hero-image__cream" src="/images/hero/icecream_s.png" alt="" >
      </picture>
      <picture>
<source 
srcset="/images/hero/milk_m.png" 
media="(min-width:768px)">
        <img class="hero-image__milk" src="/images/hero/milk_m.png" alt="">
      </picture>

        <picture>
            <source srcset="/images/hero/tasty_m.png" media="(min-width:768px)">
            <img class="hero-image__tasty" src="/images/hero/tasty_m.png" alt="">
        </picture>
      
  </div>

        <div class="position">
            <h1 class="hero-title">ice cream <br>
                made with <span class="hero-subtitle">passion</span>
            </h1>
            <button type="button" class="button-hero button--dark ">Products</button>
            <button type="button" class="button-hero button--light">How it’s made?</button>
        </div>

        <div class="block">
           <p class="block__title">16<span class="block__text">cafes</span></p>
            <span class="block__title">23<p class="block__text">food trucks</p></span>
        </div>
        
<div class="box">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>
    <button type="button">
        <svg width="18px" height="18px">
            <use href=""></use>
        </svg>
    </button>
</div>



    </div>
</section>