<div class="backdrop is-hidden" data-modal-locations>
    <div class="modal-contacts">
        <button class="close-button" data-modal-close-locations>
            <span class="close-button__icon">X</span>
        </button>
        <div class="modal-contacts__wrapper">
            <div class="modal-contacts__slide"
                style="background-image: url('https://images.unsplash.com/photo-1527985510537-5372c52e303d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTA0fHxpY2UlMjBjcmVhbXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60');">
                <p class="modal-contacts__accent">Chicago,</p>
                <p class="modal-contacts__text">643 Michigan Ave</p>
            </div>
            <div class="modal-contacts__slide" style="
                      background-image: url('https://images.unsplash.com/photo-1542012618332-b93d90d6fed7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzExfHxpY2UlMjBjcmVhbXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60');
                    ">
                <p class="modal-contacts__accent">Chicago,</p>
                <p class="modal-contacts__text">121 Wall St</p>
            </div>
            <div class="modal-contacts__slide" style="
                      background-image: url('https://images.unsplash.com/photo-1600103377176-1ee12e3458f5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=403&q=80');
                    ">
                <p class="modal-contacts__accent">Los Angeles,</p>
                <p class="modal-contacts__text">193 South Broadway Lobby</p>
            </div>
            <div class="modal-contacts__slide active" style="
                      background-image: url('https://images.unsplash.com/photo-1564801629778-eabf6ed7d440?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80 ');
                    ">
                <p class="modal-contacts__accent">New York,</p>
                <p class="modal-contacts__text">468 9th Ave</p>
            </div>
            <div class="modal-contacts__slide" style="
                      background-image: url('https://images.unsplash.com/photo-1548003892-3ed219e13c89?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NDI5fHxpY2UlMjBjcmVhbXxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60');
                    ">
                <p class="modal-contacts__accent">New York,</p>
                <p class="modal-contacts__text">50 Jackson Blvd</p>
            </div>

        </div>
    </div>
</div>