<div class="backdrop is-hidden" data-about-modal>
  <div class="about-modal">
    <button class="close-button" data-about-modal-close>
      <span class="close-button__icon">X</span>
    </button>
    <p class="about__text">
      <span class="about__text--red">Our</span> love affair with ice cream is centuries old. The
      ancient Greeks, Romans, and Jews were known to chill wines and juices. This practice evolved
      into fruit ices and, eventually, frozen milk and cream mixtures.
    </p>
    <p class="about__text">
      <span class="about__text--red">If</span> you place a container of milk or cream in the
      freezer, you'll end up with a stiff block of frozen liquid, not the soft, creamy ice cream
      that we're used to. Special techniques are employed to make ice cream that creates smaller ice
      crystals and incorporates air, which produces a soft texture.
    </p>
    <p class="about__text">
      <span class="about__text--red">Constantly</span> churning ice cream, whether by hand or
      mechanically, ensures that large, stiff ice crystals do not form within the mixture. The
      churning process also serves to introduce air and create a foam-like texture, further
      softening the mixture. However, there are no-churn options to make ice cream.
    </p>
    <p class="about__text">
      <span class="about__text--red">Salt</span>, which lowers the melting point of ice, is often
      used in the ice-cream making process. When the melting point of ice is lowered, it draws heat
      out from the ice-cream mixture faster, causing it to freeze at a quicker rate. Freezing the
      mixture quickly produces smaller ice crystals and a softer final product. The salt that is
      mixed with the ice never comes in contact with the ice cream and therefore does not affect the
      sodium content. The salt-filled ice is packed around an inner ice-cream chamber that keeps the
      ice cream in and salt out.
    </p>
    <p class="about__text">
      <span class="about__text--red">Liquid</span> nitrogen and dry ice can also be used to make ice
      cream as they also produce a quick freezing action. The popular mall treat Dippin Dots
      consists of small balls of ice cream created using liquid nitrogen to freeze small droplets of
      cream.
    </p>
  </div>
</div>
