

<!--Перший дів для того, щоб витягнути кнопки з-під героя, потім потрібно прибрати-->
<!-- <div class="test"> 
    -->
    <!-- <include src="./partials-products/products-add-first.html" ></include>
    <include src="./partials-products/products-add-second.html"></include>
    <include src="./partials-products/products-add-third.html"></include> -->

<!-- Перша кнопка-->
        <!-- <button class="button product-additional__button" type="button" product-modal-open>
            <img src="images/products-additional/arrow-products.png" alt=""></button>
    <div class="backdrop is-hidden" product-modal>
    
        <div class="product-modal">
            <p class="product-additional__title"> Why do we like ice cream?</p>
            <span class="product-additional__text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et </span>
            <div class="product-additional__image ">
                <img class="product-additional__icecream-first" width="80" height="80"
                    src="images/products-additional/icecream-additional2.jpeg" alt="">
                <img class="product-additional__icecream-second" width="80" height="80"
                    src="images/products-additional/icecream-additional3.jpg" alt="">
            </div>
     --> -->
              <!-- Кнопка для закриття вікна  -->
            <!-- <button class="close-button" type="button" product-modal-close>
                <span class="close-button__icon">X</span> </button>
        </div>
    </div> -->
<!--кнопка 2-->
    <!-- <button class="button product-additional__button" type="button" product-modal-second-open>
        <img src="images/products-additional/arrow-products.png" alt=""></button>
    <div class="backdrop is-hidden" product-modal-second>
        <div class="product-modal">
            <p class="product-additional__title"> Why do we like ice coffee?</p>
            <span class="product-additional__text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                tempor incididunt ut labore et </span>
            <div class="product-additional__image ">
                <img class="product-additional__icecoffee-first" width="80" height="80"
                    src="images/products-additional/additional-icecoffee1.jpeg" alt="">
                <img class="product-additional__icecoffee-second" width="80" height="80"
                    src="images/products-additional/additional-icecoffee2.jpeg" alt="">
            </div> -->
            <!--   Кнопка для закриття вікна  -->
            <!-- <button class="close-button" type="button" product-modal-second-close>
                <span class="close-button__icon">X</span> </button>
        </div>
    </div> -->

<!--кнопка 3-->
<!-- <button class="button product-additional__button" type="button" product-modal-third-open>
    <img src="images/products-additional/arrow-products.png" alt=""></button>
<div class="backdrop is-hidden" product-modal-third>
    <div class="product-modal">
        <p class="product-additional__title"> Why do we like milkshakes?</p>
        <span class="product-additional__text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et </span>
        <div class="product-additional__image ">
            <img class="product-additional__milkshake-first" width="80" height="80"
                src="images/products-additional/additional-milkshake1.jpeg" alt="">
            <img class="product-additional__milkshake-second
                        " width="80" height="80" src="images/products-additional/additional-milkshake2.jpeg" alt="">
        </div> -->
        <!--   Кнопка для закриття вікна  -->
        <!-- <button class="close-button" type="button" product-modal-third-close>
            <span class="close-button__icon">X</span> </button>
    </div>
</div> -->

<!-- прибрати-->
<!-- </div> -->
