<section class="section section__products">
    <div class="container">
        <div class="section-wrapper">
            <span class="section__label section__label--products">100% NATURAL</span>
            <h2 class="section__title section__title--products">PRODUCTS</h2>
        </div>
        <ul class="ice">
            <li class="ice__item ice__item--cream">
                <h3 class="ice__name ice__name--cream">ICE CREAM</h3>
                <p class="ice__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et.</p>
                <div class="ice-wrapper">
                    <button class="ice-wrapper__button">
                        <svg class="ice-wrapper__icon">
                            <use href="images/icons.svg#arrow"></use>
                        </svg>
                    </button>
                </div>
            </li>
            <li class="ice__item ice__item--coffee">
                <h3 class="ice__name ice__name--coffee">ICE COFFEE</h3>
                <p class="ice__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et.</p>
                <div class="ice-wrapper">
                    <button class="ice-wrapper__button">
                        <svg class="ice-wrapper__icon">
                            <use href="images/icons.svg#arrow"></use>
                        </svg>
                    </button>
                </div>
            </li>
            <li class="ice__item ice__item--milkshakes">
                <h3 class="ice__name ice__name--milkshakes">MILKSHAKE</h3>
                <p class="ice__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et.</p>
                <div class="ice-wrapper">
                    <button class="ice-wrapper__button">
                        <svg class="ice-wrapper__icon">
                            <use href="images/icons.svg#arrow"></use>
                        </svg>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</section>