

<div class="backdrop is-hidden" product-modal-second>
    <div class="product-modal product-modal--color-coffee">
        <p class="product-additional__title"> Why do we like ice coffee?</p>
        <span class="product-additional__text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et </span>
        <div class="product-additional__image ">
            <img class="product-additional__icecoffee-first" width="80" height="80"
                src="images/products-additional/additional-icecoffee1.jpeg" alt="">
            <img class="product-additional__icecoffee-second" width="80" height="80"
                src="images/products-additional/additional-icecoffee2.jpeg" alt="">
        </div>
        <!--   Кнопка для закриття вікна  -->
        <button class="close-button " type="button" product-modal-second-close>
            <span class="close-button__icon close-button__icon--icecoffee">X</span> </button>
    </div>
</div>