
<div class="backdrop is-hidden" product-modal>
    <div class="product-modal">
        <p class="product-additional__title"> Why do we like ice cream?</p>
        <span class="product-additional__text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et </span>

        <div class="product-additional__image ">

            <img class="product-additional__icecream-first" width="80" height="80"
                src="images/products-additional/icecream-additional2.jpeg" alt="">
                <img width="80" height="80"
                src="images/products-additional/icecream-transparent.png">
            <img class="product-additional__icecream-second" width="80" height="80"
                src="images/products-additional/icecream-additional3.jpg" alt="">

        </div>


        <!--   Кнопка для закриття вікна  -->
        <button class="close-button" type="button" product-modal-close>
            <span class="close-button__icon">X</span> </button>
    </div>
</div>