
<div class="backdrop is-hidden" product-modal-third>
    <div class="product-modal">
        <p class="product-additional__title"> Why do we like milkshakes?</p>
        <span class="product-additional__text"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
            tempor incididunt ut labore et </span>
        <div class="product-additional__image ">
            <img class="product-additional__milkshake-first" width="80" height="80"
                src="images/products-additional/additional-milkshake1.jpeg" alt="">
            <img class="product-additional__milkshake-second
                        " width="80" height="80" src="images/products-additional/additional-milkshake2.jpeg" alt="">
        </div>
        <!--   Кнопка для закриття вікна  -->
        <button class="close-button" type="button" product-modal-third-close>
            <span class="close-button__icon">X</span> </button>
    </div>
</div>