.header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;

  padding-top: 8px;

  &__container{
    height: 100%;
    display: flex;
    align-items: center;
    
    justify-content: space-between;
    @media screen and (max-width: 1279px) {
    }
  }
  
  @media screen and (min-width: 768px) {
    padding-top: 32px;
  }

  @media screen and (min-width: 768px) {
    padding-top: 37px;
  }
  
}

.header__menu{
  display: flex;
  align-items: center;

  @media screen and (min-width: 1280px) {
    flex-grow: 1;
    margin-left: 175px;
  }
}

.modal-btn {
  padding-right:37px;
  padding-left: 37px;
  
  .modal-btn__icon {
    margin-left: 15px;
    fill: transparent;
  }
  
  @media screen and (max-width: 767px) {
   display: none;
  }
}
