.menu {

  @media screen and (max-width:1279px) {
    position: absolute;
    top: 0;
    right: 0;
    width: 40vw;
    height: 100vh;

    display: flex;
    flex-direction: column;

    padding-top: 60px;
    background-color: $menuBackground;
    z-index: 2;

    opacity: 0;
    overflow: hidden;
    transform: scale3d(1, 1, 0) ;
    transition: color $transition,
    transform $transition,
    opacity $transition,
    overflow $transition,
    background-color $transition;

    &::after{
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.2);
      width: 100vw;
      height: 100vh;
      transform: translateX(-100%);
      pointer-events: none;
    }

    &.is-open {
      transform:  scale3d(1, 1, 1);
      opacity: 1;
      overflow: visible;
    }

    @media screen and (max-width:767px) {
      width: 100vw;
    }
  }

  @media screen and (min-width: 1280px) {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }
}